@import './sidebar';
@import './reset';
@import './dark';
@import './btn.scss';
.app-container {
  padding: 10px 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-container {
  padding: 18px 0 0 20px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-light);
  .el-select {
    width: 200px;
  }
}

.el-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  .el-card__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

// element-plus的表单输入框有清除按钮的，文字输入前后宽度不一致
// https://blog.csdn.net/qq_33769914/article/details/141029335
.el-input__wrapper {
  position: relative;
  .el-input__inner {
    padding-right: 18px;
  }
  .el-input__suffix {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

// 全局设置滚动条样式
::-webkit-scrollbar {
  width: 4px; //滚动条宽度
  height: 100px; //滚动条长度
}
::-webkit-scrollbar-thumb {
  background-color: #999; //滚动条前景色
}
::-webkit-scrollbar-track {
  background-color: #eee; //滚动条背景色
}
::-webkit-scrollbar-corner {
  background-color: #fff; //滚动条边框颜色
  border: 1px solid #ccc; //滚动条边框样式
}

.plateNo_class {
  border-radius: 6px;
  margin-left: 6px;
  width: 90px;
  color: #fff;
}

.el-dialog__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.el-dialog {
  background-image: url('@/assets/usual/dialog-bg.png') !important;
  background-size: 100% 100% !important;
  border-radius: 8px !important;
  .el-form-item__label {
    color: #717171ff;
  }
  .el-input {
    border-radius: 6px;
  }
  .el-input__wrapper {
    background-color: #fff !important;
  }
  .el-input__inner {
    background-color: transparent !important;
  }
}

.el-drawer {
  background-image: url('@/assets/usual/dialog-bg.png') !important;
  background-size: 100% 100% !important;
  border-radius: 8px !important;
  .el-form-item__label {
    color: #717171ff;
  }
  .el-input {
    border-radius: 6px;
  }
  .el-input__wrapper {
    background-color: #fff !important;
  }
  .el-input__inner {
    background-color: transparent !important;
  }
}
